body {
  margin:0px;
  font-family: 'Nova Mono', verdana, arial;
  text-align: center;
}
.backgroud {
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  position:fixed;
  z-index:0;
}

.background img {
  width:100%;
  height:100%;
}

.content {
  /*width:100%;
  height:100%;
  left:0px;
  top:0px;
  background:#fff url(../images/bck.png) no-repeat left top;
  background-size: auto;*/
}

h1, h2 {
  letter-spacing: 1px;
  color:#666;
  font-weight: normal;
  font-family: 'Voltaire';
}

.it { color: #C93030 }

section {
  margin-top: 20px;
  clear:both;
  float:left;
  width:100%;
}

.css {
  display:block;
  padding-top: 5px;
  height: 50px;
  width: 120px;
  margin: 10px auto 0 auto;
  font-size: 40px;
  color: white;
  text-shadow: -1px -1px white, 1px 1px #999;
}

.arrow {
  font-size: 24px;
  color: #999;
}

.dev {
  font-family: 'Quicksand';
  color: #C93030;
  text-shadow: 1px 1px #606060;
  font-weight:normal;
  
}

.subheader {
  float:none;
  color: #555;
}

footer a {
  text-decoration: none;
  color: #333;
}